body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background: #34495e;
}
.box{
  width:300px;
  padding:40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align:center;
}
.box h1{
  color: white;
  font-weight:250;
}
.box input[id = "bin"],.box input[id = "dec"]{
  border:0;
  background:none;
  display:block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #3498db;
  width: 200px;
  color:white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[id= "bin"]:focus{
  width:280px;
  border-color:#2ecc71;
}
.box input[type="submit"]{
  border:0;
  background:none;
  display:block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #3498db;
  color:white;
  border-radius: 24px;
  transition: 1.0s;
  cursor: pointer;
}

.box input[type="submit"]:hover{
  border-color:#2ecc71;
  background:#2ecc71;
}
